html{
	font-size: 110%;
}
body,
html{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body{
	font-size: 1rem;
	background: #f2f2f2;
}
*{
	box-sizing: border-box;
}
h1,h2{
	margin: 0;
	padding: 0;
	margin: 1rem 0 1rem;
}
h1{
	font-size: 3rem;
}
h2{
	font-size: 2rem;
}
p{
	line-height: 2rem;
}

#map{
	width: 100%;
	height: 100%;
}

.power_stations{
	height: 60vh;
}

.filter{
	background: #FAA432;
	line-height: 30px;
	padding: 10px;
}

.search_btn,
.search_fld{
	border: none;
	outline: none;
	width: 100%;
}

.search_btn{
	line-height: 2.5rem;
	color: #fff;
	background: #3878C7;
}
.search_fld{
	padding: 0 20px;
	line-height: 2.5rem;
}